# Server
PORT=3000
GOOGLE_CLIENT_EMAIL=your-sa@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

GOOGLE_DELEGATED_USER=admin@your-domain.com
GOOGLE_USER_DOMAIN=your-domain.com
GOOGLE_DEFAULT_PASSWORD=ChangeMeOnFirstLogin!

# Odoo API
ODOO_BASE_URL=https://odoo.example.com
ODOO_USERNAME=
ODOO_PASSWORD=

# Onboarding defaults
DEFAULT_USER_ROLE=employee
DEFAULT_START_DATE=2026-05-01
